.header__buttons {
  .header__buttons--sky-blue {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $coral-red;
    padding-left: 8px;
    // margin-bottom: 20px;
    border-bottom: 1px solid gray;
    color: white;
  }

  .header__buttons--red {
    color: white;
    background-color: $blue-sky;
  }

  button {
    float: right;
    width: 80px;
    height: 30px;
    border: none;
    margin: 15px 0 15px 15px;
  }
}
